---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import SocialFooter from "../components/SocialFooter.astro";

const posts = (await getCollection("posts", ({ data }) => data.published))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout isHome>
  <main>
    {posts.map((post) => (
      <PostCard
        slug={post.id}
        title={post.data.title}
        date={post.data.date}
        excerpt={post.data.excerpt}
        tags={post.data.tags}
        body={post.body}
      />
    ))}
  </main>
  <SocialFooter />
</BaseLayout>
